:root {
    --bg-grey: #939598;
    --bg-black: #000000;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h2, div {
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

li {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.container{
    width: 80%;
    padding: 1.75rem;
    background-color:#f0f0f0;
    margin: auto;
}

.nameProd {
    padding: 8px 12px;
    border: none;
    border: 1px solid var(--bg-grey);
    outline: none;
    width: 50%;
}

.nameProd:focus{
    box-shadow: 0 0 0 3px var(--bg-grey);
}

.btnSave{
    padding: 6px 20px;
    background-color: var(--bg-black) !important;
    border-color: var(--bg-black) !important;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
}

.list {
    max-height: 300px;
    overflow-x: hidden;
    margin-top: 20px;
    background: rgb(147, 149, 152) !important;
    color: #fff;
}